body {
    margin: 0;
    background-image: url('995dbed09f0ae75.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#game-container {
    width: 800px;
    height: 600px;
    position: relative;
}

.character {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.monster {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.library {
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
}

.temple {
    width: 30px;
    height: 30px;
    border-bottom: 30px solid yellow;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
}

.treasure {
    width: 30px;
    height: 30px;
    background-color: yellow;
    position: absolute;
}

.treasure-image {
    display: none;
    position: absolute;
    width: 800px;
    /* 增大宽度 */
    height: 800px;
    /* 增大高度 */
}

.cave {
    width: 30px;
    height: 30px;
    background-color: gray;
    position: absolute;
}
